@import "fonts/font-awesome.min.css";
@import "fonts/font-awesome-animation.min.css";

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css"); */

@import "fonts/pe-icon-7-stroke.css";
@import "fonts/utility-classes.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800|Raleway:400,300,200,500,700,600,800|Playfair+Display:400,400italic,700,700italic");
::selection {
    background: #333333;
    color: #fff;
    text-shadow: none;
}

 ::-moz-selection {
    background: #333333;
    /* Firefox */
    color: #fff;
    text-shadow: none;
}

 ::-webkit-selection {
    background: #333333;
    /* Safari */
    color: #fff;
    text-shadow: none;
}

 :active,
 :focus {
    outline: none !important;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

a {
    color: #808080;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #595959;
    text-decoration: none;
}

a img {
    border: none;
}

img {
    max-width: 100%;
}

iframe {
    border: none;
}


/* -------- Headings ---------- */

h1,
.h1 {
    font-size: 3.4rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

h1,
h2,
.h1,
.h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #333333;
}

h1 small,
h2 small,
.h1 small,
.h2 small,
h1 .small,
h2 .small,
.h1 .small,
.h2 .small {
    font-weight: normal;
    line-height: 1;
    color: #333333;
}

h1 a,
h2 a,
.h1 a,
.h2 a {
    color: #333333;
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
}

h3 small,
h4 small,
h5 small,
h6 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #333333;
}

h3 a,
h4 a,
h5 a,
h6 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
    color: #333333;
}


/* -------- Body Text ---------- */

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
    margin-bottom: 10px;
}


/* -------- Custom Font Family ---------- */

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-titillium {
    font-family: 'Titillium Web', sans-serif;
}


/* breadcrumb */

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

.breadcrumb>li+li::before {
    content: "\f22d";
    font-family: fontawesome;
    font-size: 9px;
}

.breadcrumb li.active {
    color: #111111;
}

.breadcrumb.white li.active {
    color: #fff;
}

.breadcrumb.white li a {
    color: #808080;
}

@media only screen and (min-width: 768px) {
    .breadcrumb.text-right {
        text-align: right;
    }
}


/*Drop Caps*/

.drop-caps p {
    text-align: justify;
}

.drop-caps p:first-child:first-letter {
    color: #111111;
    display: block;
    float: left;
    font-size: 48px;
    line-height: 48px;
    margin: 6px 3px;
    padding: 10px 18px;
}

.drop-caps.text-colored p:first-child:first-letter {
    display: block;
    float: left;
    font-size: 48px;
    line-height: 48px;
    margin: 6px 3px;
    padding: 10px 18px;
}

.drop-caps.border p:first-child:first-letter {
    border: 1px solid;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
}

.drop-caps.border-rounded p:first-child:first-letter {
    border: 1px solid;
    border-radius: 50%;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
}

.drop-caps.colored-square p:first-child:first-letter {
    color: #fff;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
}

.drop-caps.colored-rounded p:first-child:first-letter {
    color: #fff;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
    border-radius: 50%;
}

.drop-caps.dark-square p:first-child:first-letter {
    background: #222222;
    color: #fff;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
}

.drop-caps.dark-rounded p:first-child:first-letter {
    background: #222222;
    color: #fff;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
    border-radius: 50%;
}


/*Text Highlight*/

.text-highlight {
    background: none repeat scroll 0 0 #111111;
    border-radius: 4px;
    color: #fff;
    padding: 0 5px 3px;
}

.text-highlight.light {
    background: #808080;
}


/*
   * common.less
   * -----------------------------------------------
  */


/* -------- Basic Structure ---------- */

html {
    font-size: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 991px) {
    html {
        font-size: 90%;
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 85%;
    }
}

@media only screen and (max-width: 479px) {
    html {
        font-size: 80%;
    }
}

html,
html a {
    -webkit-font-smoothing: antialiased;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

strong {
    color: #555555;
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fluid-video-wrapper {
    padding: 0;
    position: relative;
    width: 100%;
}

iframe {
    border: none;
    width: 100%;
}

.lead {
    font-size: 18px;
}

.text-highlight {
    background: none repeat scroll 0 0 #111111;
    border-radius: 4px;
    color: #fff;
    padding: 0 5px 3px;
}

.text-highlight.light {
    background: #808080;
}

.inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.fullwidth {
    width: 100%;
}

.bg-hover-theme-colored {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* Text-decoration */

.text-underline {
    text-decoration: underline;
}


/* -------- Line-Bottom ---------- */

.heading-line-bottom {
    border-bottom: 1px dashed #808080;
    display: inline-block;
    margin: 0;
    position: relative;
    margin: 20px 0;
}

.heading-line-bottom::after {
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 20px;
}

.heading-title {
    margin-top: 10px;
}

.line-bottom {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.line-bottom:after {
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}

.line-bottom-centered {
    position: relative;
    margin: 10px 0 20px;
}

.line-bottom-centered:after {
    background: #2b96cc none repeat scroll 0 0;
    bottom: -8px;
    content: "";
    height: 1px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: absolute;
    right: 0;
    width: 30px;
}

.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before {
    font-size: 48px;
    margin-left: 10px;
}

.title-icon {
    margin: 0 auto;
    max-width: 160px;
    position: relative;
}

.title-icon::after {
    content: "";
    height: 2px;
    left: 24px;
    position: absolute;
    top: 10px;
    width: 30px;
}

.title-icon::before {
    content: "";
    height: 2px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
}


/* -------- List ---------- */

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul ul,
ol ul {
    margin-left: 15px;
}

ul.list {
    list-style: outside none none;
    margin-top: 13px;
    padding-left: 0;
}

ul.list li {
    margin: 5px 0;
    font-weight: 500;
    padding-left: 15px;
    position: relative;
}

ul.list li:before {
    border: none;
    color: #a9a9a9;
    content: "\f111";
    display: inline-block;
    font-family: fontawesome;
    font-size: 9px;
    margin-right: 10px;
    padding: 0;
    left: 0;
    position: absolute;
    top: 1px;
}

ul.list li:hover:before {
    background: none;
    border-color: transparent;
}

ul.list li a {
    text-decoration: none;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}


/* -------- List White ---------- */

ul.list.list-white li:before {
    color: #fff;
}

ul.list.list-white li:hover:before {
    background: none;
    border-color: transparent;
}

ul.list.list-white li a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}


/* -------- List border bottom ---------- */

ul.list-border-bottom li {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}

ul.list.list-border-bottom li:last-child {
    border-bottom: none;
}

ul.list-border-bottom.no-padding li {
    padding-bottom: 0px;
}

ul.list-border-bottom.no-padding li:last-child {
    border-bottom: none;
}


/* -------- List Icons ---------- */

.list-icon li {
    font-size: 14px;
    margin: 0;
}

.list-icon li i {
    color: #555555;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    margin: 5px 10px 5px 0;
    text-align: center;
    width: 28px;
}

.list-icon.square li i {
    background: #c0c0c0;
    color: #555555;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin: 5px 10px 5px 0;
    text-align: center;
    width: 28px;
}

.list-icon.rounded li i {
    color: #555555;
    background: #c0c0c0;
    border-radius: 50%;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin: 5px 10px 5px 0;
    text-align: center;
    width: 28px;
}

.list-icon.theme-colored.square li i {
    color: #fff;
}

.list-icon.theme-colored.rounded li i {
    color: #fff;
}


/* -------- Personal Info List ---------- */

.list-info li {
    clear: both;
    position: relative;
}

.list-info li label {
    display: inline-block;
    font-weight: bold;
    padding: 5px 0 0;
}

.list-info li span {
    left: 110px;
    padding: 5px 0;
    position: absolute;
}

.list-features {
    -moz-column-count: 3;
    column-count: 3;
}

.list-dashed>article {
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.list-dashed>div {
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.list-dashed>li {
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.list-dashed.dark-dash>article {
    border-bottom: 1px dashed #333333;
}

.list-dashed.dark-dash>div {
    border-bottom: 1px dashed #333333;
}

.list-dashed.dark-dash>li {
    border-bottom: 1px dashed #333333;
}

ul.list.check li:before {
    content: "\f00c";
    font-family: fontawesome;
    font-size: 12px;
}

ul.list.angle-double-right li:before {
    content: "\f101";
    font-family: fontawesome;
    font-size: 12px;
}

ul.list.angle-right li:before {
    content: "\f105";
    font-family: fontawesome;
}

ul.list.check-circle li:before {
    content: "\f058";
    font-family: fontawesome;
    font-size: 14px;
}


/* -------- Call To Actions ---------- */

.call-to-action {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}


/* -------- Section & Divider ---------- */

section {
    position: relative;
}

section>.container,
section>.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}


/* -------- Background Video ---------- */

.bg-video {
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: -1;
}

.bg-video .video {
    height: 100%;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.bg-video .video .mbYTP_wrapper {
    z-index: -1;
}


/* -------- Box Table ---------- */

.display-table-parent {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.display-table {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.display-table-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}


/* -------- Scroll To Top ---------- */

.scrollToTop {
    background: rgba(0, 0, 0, 0.1);
    bottom: 15px;
    display: none;
    height: 50px;
    padding: 2px;
    position: fixed;
    right: 15px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 99999;
}

.scrollToTop i {
    color: #fff;
    font-size: 42px;
}

.scrollToTop:hover {
    background: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}


/*  
   * Extra.less 
   * -----------------------------------------------
  */


/* -------- Heading Style ---------- */

.heading-border {
    border-bottom: 1px solid #d3d3d3;
    margin: 30px 0;
    padding: 20px 0;
}


/* -------- FullCalendar - Plugin ---------- */

.fc-day-number {
    color: #333333;
}

.fc-day-number.fc-other-month {
    opacity: 0.4;
}


/* scrolltofixed-container */

.scrolltofixed-container {
    position: static;
}

@media only screen and (max-width: 767px) {
    .scrolltofixed-container .scrolltofixed {
        position: static !important;
    }
    .scrolltofixed-container .scrolltofixed+div {
        display: none !important;
    }
}


/* vertical-align-middel*/

.vertical-align-middle {
    vertical-align: middle;
}


/*
   * Overlays.less
   * -----------------------------------------------
  */

.layer-overlay {
    position: relative;
    /* overlay-dark */
    /* overlay-white */
}

.layer-overlay::before {
    background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.layer-overlay.overlay-light::before {
    background-color: rgba(255, 255, 255, 0.4);
}

.layer-overlay.overlay-lighter::before {
    background-color: rgba(255, 255, 255, 0.3);
}

.layer-overlay.overlay-deep::before {
    background-color: rgba(255, 255, 255, 0.9);
}

.layer-overlay.overlay-dark::before {
    background-color: rgba(17, 17, 17, 0.85);
}

.layer-overlay.overlay-dark-1::before {
    background-color: rgba(17, 17, 17, 0.1);
}

.layer-overlay.overlay-dark-2::before {
    background-color: rgba(17, 17, 17, 0.2);
}

.layer-overlay.overlay-dark-3::before {
    background-color: rgba(17, 17, 17, 0.3);
}

.layer-overlay.overlay-dark-4::before {
    background-color: rgba(17, 17, 17, 0.4);
}

.layer-overlay.overlay-dark-5::before {
    background-color: rgba(17, 17, 17, 0.5);
}

.layer-overlay.overlay-dark-6::before {
    background-color: rgba(17, 17, 17, 0.6);
}

.layer-overlay.overlay-dark-7::before {
    background-color: rgba(17, 17, 17, 0.7);
}

.layer-overlay.overlay-dark-8::before {
    background-color: rgba(17, 17, 17, 0.8);
}

.layer-overlay.overlay-dark-9::before {
    background-color: rgba(17, 17, 17, 0.9);
}

.layer-overlay.overlay-white::before {
    background-color: rgba(255, 255, 255, 0.4);
}

.layer-overlay.overlay-white-1::before {
    background-color: rgba(255, 255, 255, 0.1);
}

.layer-overlay.overlay-white-2::before {
    background-color: rgba(255, 255, 255, 0.2);
}

.layer-overlay.overlay-white-3::before {
    background-color: rgba(255, 255, 255, 0.3);
}

.layer-overlay.overlay-white-4::before {
    background-color: rgba(255, 255, 255, 0.4);
}

.layer-overlay.overlay-white-5::before {
    background-color: rgba(255, 255, 255, 0.5);
}

.layer-overlay.overlay-white-6::before {
    background-color: rgba(255, 255, 255, 0.6);
}

.layer-overlay.overlay-white-7::before {
    background-color: rgba(255, 255, 255, 0.7);
}

.layer-overlay.overlay-white-8::before {
    background-color: rgba(255, 255, 255, 0.8);
}

.layer-overlay.overlay-white-9::before {
    background-color: rgba(255, 255, 255, 0.9);
}

.layer-overlay.layer-pattern::before {
    background-image: url(../images/pattern1.png);
    background-color: rgba(0, 0, 0, 0.6);
}

.layer-overlay.layer-pattern2::before {
    background-image: url(../images/pattern2.png);
    background-color: rgba(0, 0, 0, 0.8);
}

.layer-overlay.layer-pattern3::before {
    background-image: url(../images/pattern3.png);
    background-color: rgba(0, 0, 0, 0.8);
}

.layer-overlay.maximage-layer-overlay::before {
    z-index: 1;
}

.layer-overlay.overlay-blue::before {
    background-color: rgba(1, 162, 208, 0.9);
}

.layer-overlay.overlay-blue-light::before {
    background-color: rgba(1, 162, 208, 0.45);
}

.layer-overlay.overlay-pink::before {
    background-color: rgba(235, 110, 142, 0.9);
}

.layer-overlay.overlay-pink-light::before {
    background-color: rgba(235, 110, 142, 0.45);
}

.layer-overlay.overlay-brown::before {
    background-color: rgba(60, 171, 111, 0.9);
}

.layer-overlay.overlay-brown-light::before {
    background-color: rgba(60, 171, 111, 0.45);
}

.layer-overlay.overlay-yellow::before {
    background-color: rgba(255, 187, 34, 0.9);
}

.layer-overlay.overlay-yellow-light::before {
    background-color: rgba(255, 187, 34, 0.45);
}

.layer-overlay.overlay-green::before {
    background-color: rgba(16, 196, 92, 0.9);
}

.layer-overlay.overlay-green-light::before {
    background-color: rgba(16, 196, 92, 0.45);
}

.layer-overlay.overlay-theme-color-1::before {
    background-color: rgba(173, 216, 230, 0.9);
}

.layer-overlay.overlay-theme-color-2::before {
    background-color: rgba(230, 173, 188, 0.9);
}

.layer-overlay.overlay-theme-color-3::before {
    background-color: rgba(230, 216, 173, 0.9);
}

.half-divider .overlay-theme-color-1,
.half-divider .overlay-theme-color-2,
.half-divider .overlay-theme-color-3 {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}

.vertical-nav {
    /* vertical-nav-black*/
}

.vertical-nav .header {
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    z-index: 101;
    padding: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    background-size: cover;
}

.vertical-nav .main-content,
.vertical-nav .footer {
    margin-left: 260px;
}

.vertical-nav .container {
    max-width: 940px;
}

.vertical-nav .menuzord {
    background: none;
}

.vertical-nav .menuzord .menuzord-menu ul.dropdown li:hover>a {
    background: #eeeeee none repeat scroll 0 0;
    color: #111111;
}

.vertical-nav .menuzord-menu li {
    padding: 5px 0;
    position: relative;
    width: 100%;
}

.vertical-nav .menuzord-menu li .indicator {
    float: right;
}

.vertical-nav .menuzord-menu li a {
    padding-left: 30px;
    width: 100%;
}

.vertical-nav .menuzord-menu ul.dropdown,
.vertical-nav .menuzord-menu .megamenu {
    left: 100%;
    top: 4px;
}

.vertical-nav .menuzord-brand img {
    max-height: none;
}

.vertical-nav .vertical-nav-black {
    background: #111111;
}

.vertical-nav .vertical-nav-black .menuzord-menu ul.dropdown {
    background: #111111;
    border-color: #222222;
}

.vertical-nav .vertical-nav-black .menuzord-menu ul.dropdown li a {
    background: #111111;
}

.vertical-nav .vertical-nav-black .menuzord-menu ul.dropdown li a .indicator i {
    color: #fff;
}

.vertical-nav .vertical-nav-black .menuzord-menu ul.dropdown li:hover>a {
    background: #111111 none repeat scroll 0 0;
    color: #fff;
}

.vertical-nav .vertical-nav-black .menuzord-menu>li>a {
    color: #808080;
}

.vertical-nav.vertical-nav-right .header {
    left: auto;
    right: 0;
}

.vertical-nav.vertical-nav-right .main-content,
.vertical-nav.vertical-nav-right .footer {
    padding-left: auto;
    margin-right: 260px;
    padding-top: 0;
}

.vertical-nav.vertical-nav-right .menuzord-menu ul.dropdown,
.vertical-nav.vertical-nav-right .menuzord-menu .megamenu {
    left: auto;
    right: 100%;
    top: 0;
}

@media only screen and (max-width: 1199px) {
    .vertical-nav .container {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .vertical-nav .header {
        border: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }
    .vertical-nav .vertical-nav-widget {
        display: none;
    }
    .vertical-nav .menuzord {
        background: #fff;
    }
    .vertical-nav .vertical-nav-black .menuzord {
        background: none;
    }
    .vertical-nav .menuzord-brand {
        margin: 0;
        padding: 0;
    }
    .vertical-nav .menuzord-brand img {
        max-height: 65px;
        padding: 10px;
    }
    .vertical-nav .header-nav-wrapper {
        background: #111111 none repeat scroll 0 0;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .vertical-nav .vertical-nav-black .menuzord .menuzord-menu li>a,
    .vertical-nav .vertical-nav-black .menuzord .menuzord-menu li .indicator {
        border-color: #222222;
    }
    .vertical-nav .main-content,
    .vertical-nav .footer {
        padding-left: 0;
    }
    .vertical-nav.vertical-nav-right .main-content,
    .vertical-nav.vertical-nav-right .footer {
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .boxed-layout .container {
        max-width: 1170px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .boxed-layout .header,
    .boxed-layout .main-content,
    .boxed-layout .footer,
    .boxed-layout #footer {
        margin: 0 auto;
        max-width: 1170px;
    }
}

.boxed-layout .header,
.boxed-layout section,
.boxed-layout .footer,
.boxed-layout #footer {
    background-color: #fff;
}

.boxed-layout .header .navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 0;
}

.boxed-layout .header .navbar-default .navbar-nav>li>a {
    padding: 30px 5px;
}

.boxed-layout .header .navbar-default .navbar-collapse {
    background-color: #fff;
    border-color: #fff;
    margin-right: 30px;
}

.boxed-layout .header #header-logo {
    margin: 0;
    padding-top: 27px;
}

@media only screen and (max-width: 991px) {
    .boxed-layout {
        padding-top: 0;
    }
    .boxed-layout .header .navbar-default .navbar-nav>li>a {
        padding: 10px;
    }
    .boxed-layout .header .navbar-default .navbar-collapse {
        margin-right: 15px;
    }
    .boxed-layout .navbar-header {
        padding: 15px 0;
    }
    .boxed-layout .navbar-collapse .navbar-nav li a .caret {
        margin-right: 0;
    }
}

.boxed-layout.fullwidth .container {
    max-width: 1170px;
    padding-left: 30px;
    padding-right: 30px;
}

.boxed-layout.fullwidth .header,
.boxed-layout.fullwidth .main-content,
.boxed-layout.fullwidth .footer {
    margin: 0 auto;
    max-width: 1170px;
}

.boxed-layout.fullwidth .header,
.boxed-layout.fullwidth section,
.boxed-layout.fullwidth .footer {
    background-color: #fff;
}

.boxed-layout.fullwidth .header .navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 0;
}

.boxed-layout.fullwidth .header .navbar-default .navbar-nav>li>a {
    padding: 30px 5px;
}

.boxed-layout.fullwidth .header .navbar-default .navbar-collapse {
    background-color: #fff;
    border-color: #fff;
    margin-right: 30px;
}

.boxed-layout.fullwidth .header #header-logo {
    margin: 0;
    padding-top: 27px;
}

@media only screen and (max-width: 991px) {
    .boxed-layout.fullwidth {
        padding-top: 0;
    }
    .boxed-layout.fullwidth .header .navbar-default .navbar-nav>li>a {
        padding: 10px;
    }
    .boxed-layout.fullwidth .header .navbar-default .navbar-collapse {
        margin-right: 15px;
    }
    .boxed-layout.fullwidth .navbar-header {
        padding: 15px 0;
    }
    .boxed-layout.fullwidth .navbar-collapse .navbar-nav li a .caret {
        margin-right: 0;
    }
}

.boxed-layout .service-block .thumb .desc {
    bottom: -34%;
}

.boxed-layout .service-block:hover .thumb .desc {
    bottom: 0;
}

blockquote {
    border-left: 3px solid #eeeeee;
    margin: 20px 0;
    padding: 30px;
}

blockquote.gray {
    border-left: 3px solid #666666;
    background-color: #eeeeee;
    color: #333333;
}

blockquote.gray.bg-theme-colored {
    background-color: #eeeeee;
}

blockquote.dark {
    border-left: 3px solid #3c3c3c;
    background-color: #555555;
    color: #fff;
}

blockquote.dark footer {
    color: #d3d3d3;
}

blockquote p {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-style: italic;
}

.widget {
    margin-bottom: 30px;
}

.widget .widget-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.widget ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget ul.list li,
.widget .post {
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.widget.brochures>li {
    margin-bottom: 10px;
    padding: 10px;
}

.widget.brochures i {
    color: #666666;
    font-size: 16px;
    margin-right: 10px;
}

.widget.address>li {
    font-size: 13px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.widget.address>li i {
    font-size: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

.widget .twitter-feed li {
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-left: 30px;
}

.widget .twitter-feed li.item {
    position: relative;
}

.widget .twitter-feed li::after {
    content: "\f099";
    font-size: 24px;
    font-family: fontawesome;
    left: 0;
    position: absolute;
    top: 0;
}

.widget .styled-icons li {
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
}

.widget .styled-icons li a {
    margin-bottom: 0;
}

.widget .tags a {
    border: 1px solid #404040;
    display: inline-block;
    font-size: 12px;
    margin: 5px 4px 5px -2px;
    padding: 5px 10px;
}

.widget .tags a:hover {
    color: #fff;
}

.widget .search-input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    border-radius: initial;
    box-shadow: none;
    height: 45px;
    padding: 10px;
}

.widget .search-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    border-radius: 0;
    height: 45px;
}

.widget .nav-tabs li {
    border-bottom: 1px solid transparent;
    margin-bottom: -2px;
    padding-bottom: 0;
}

.widget.dark .list-border li {
    border-bottom: 1px dashed #404040;
}

.bg-black-333 {
    background-color: #333333 !important;
}

.row.subscripe {
    background: #f31850;
    padding: 2rem 0;
    padding-bottom: 0rem;
}

.row.subscripe form {
    display: inline-block;
    width: 50%;
    float: right;
    margin-top: 1rem;
}

.row.subscripe .col-md-10 div {
    display: inline-block;
}

.row.subscripe .col-md-10 h5 {
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
}

.row.subscripe form input {
    height: 45px;
    padding: 1rem 2rem;
    padding-right: 5rem;
    width: 100%;
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
    border-radius: 25px;
}

.row.subscripe form span {
    bottom: 2.8rem;
    left: 27rem;
    border-radius: 25px;
}

.row.subscripe form span button {
    background: #1e2c46 !important;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    padding: 0.1rem 2rem;
}

#footer .container {
    padding: 5rem 1.5rem;
}

.styled-icons a {
    color: #333333;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    width: 32px;
    float: left;
    margin: 5px 7px 5px 0;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.widget .nav-tabs li:hover {
    border-bottom: 1px solid transparent;
}

.widget .post-title a {
    font-size: 13px;
    letter-spacing: 0;
}

.widget .quick-contact-form .form-control {
    background-color: rgba(241, 241, 241, 0.8);
    border-color: #d3d3d3;
    color: #a9a9a9;
}

.widget .product-list .product-title {
    font-size: 14px;
    font-weight: 400;
}

.widget.dark .widget-title {
    color: #fff;
}

.widget.dark .tags a {
    border: 1px solid #404040;
}

.widget.dark .widget-image-carousel .title {
    color: #fff;
}

.widget.dark .search-input {
    border: 1px solid #333333;
}

.widget.dark .styled-icons li a:hover i {
    color: #fff;
}

.widget.dark .search-button {
    border: 1px solid #333333;
}

.widget.dark .widget-subscribe .subscribe-title {
    color: #fff;
}

.widget.dark .widget-subscribe .subscribe-sub-title {
    color: #666666;
}

.widget.dark .nav-tabs li {
    border-bottom: 1px solid transparent;
    margin-bottom: -2px;
    padding-bottom: 0;
}

.widget.dark .nav-tabs li:hover {
    border-bottom: 1px solid transparent;
}

.widget.dark .nav-tabs li:hover a {
    border: 1px solid #555555;
}

.widget.dark .nav-tabs li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #333333 none repeat scroll 0 0;
    border-color: #555555 #555555 transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}

.widget.dark .product-title a {
    color: #808080;
}

.widget.dark .post-title a {
    color: #c0c0c0;
}

.widget.dark .tab-content {
    background: #333333 none repeat scroll 0 0;
    border: 1px solid #555555;
}

.widget.dark .quick-contact-form .form-control {
    background-color: rgba(5, 15, 5, 0.1);
    border-color: #333333;
}

.widget.dark .widget-title.line-bottom-theme-colored-2.border-bottom {
    border-bottom: 1px solid #444;
}

.widget.no-border ul li {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.widget ul.list li::before {
    display: none;
}

.widget.dark ul.list li::before {
    display: none;
}


/* --------Horizontal Contact Widget  ---------- */

.horizontal-contact-widget {
    border-top: 1px dashed #666666;
}

.horizontal-contact-widget .each-widget::before {
    content: "\f111";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    right: 0;
    top: -42px;
}


/* -------- Horizontal Contact Widget Dark ---------- */

.horizontal-contact-widget.dark {
    border-top: 1px dashed #333333;
}

.widget.dark .btn.btn-default {
    border-color: #333;
}


/* -------- Flickr-Feed ---------- */

#flickr-feed img {
    background: none repeat scroll 0 0 #000;
    float: left;
    height: 60px;
    margin: 0 5px 5px 0;
    padding: 0;
    width: 70px;
}

.text-hover-theme-colored {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.widget .services-list li {
    background-color: #eeeeee;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px 10px 20px;
}

.widget .services-list li.active {
    position: relative;
    border-bottom: 1px solid transparent;
}

.widget .services-list li.active a {
    color: #fff;
}

.widget .services-list li.active::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: solid;
    border-width: 21px;
    bottom: 0;
    content: "";
    height: 21px;
    left: -42px;
    position: absolute;
    top: 0;
    width: 23px;
}


/*
   * Footer.less
   * -----------------------------------------------
  */

.footer {
    background: #fafafa;
}

.footer a {
    color: #808080;
}

.footer a:focus,
.footer a:hover,
.footer a:active {
    color: #666666;
}

.footer .widget .widget-title {
    margin-top: 0px;
}

.footer .widget.dark .quick-contact-form button {
    border-color: #333333;
    color: #909090;
}

.footer .widget.dark .quick-contact-form button:hover {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #333333;
}

.styled-icons.icon-bordered a {
    border: 1px solid #777777;
}


/* Header */

#header {}

#header .t_header {
    background: #f51754;
    text-align: right;
    padding-right: 5rem;
}

#header .t_header a {
    color: #fff;
    text-transform: capitalize;
}

#header .t_header .selectpicker {
    background: #fff;
    color: #83827e;
    border: 1px solid #fff;
    padding: 0 0.5rem;
}

#header .t_header .dropdown-toggle {
    padding-right: 0;
    padding: .2rem;
    border-radius: 0;
    margin-left: 0.5rem;
}

#header .t_header .selectpicker .caret {
    margin-left: -10px;
}

#header .t_header .selectpicker .flag-icon {
    margin-right: 0.2rem;
}

#header .t_header .bootstrap-select.fit-width {
    margin: 0;
}

#header .t_header .selectpicker option {
    color: #83827e;
}

#header .t_header .dropdown-menu.inner {
    padding: 0;
}

#header .t_header .dropdown-menu.inner li a {
    color: #83827e;
}

#header .b_header {
    display: block;
    padding: 0 4rem;
}

#header .b_header img {
    margin: 0 3rem;
}

#header .b_header .links {
    display: inline-block;
    float: right;
    text-transform: capitalize;
    font-weight: bold;
}

#header .b_header .links a {
    color: #000;
    padding: 1rem;
    display: inline-block;
}


/* Slider */

#slider .bg-dark-transparent-6 {
    background-color: rgba(0, 0, 0, 0.6);
}


/* About */

#about .maxwidth500 {}


/* Teacher */

.teacher .search {
    width: 70%;
    display: block;
    margin: auto;
    float: none;
    text-align: center;
    margin-top: 3rem;
}

.teacher .search form input {
    width: 100%;
    padding: 1.2rem 3rem;
    border-radius: 35px;
    border: 0;
    font-size: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.teacher .search form {
    position: relative;
}

.teacher .search form a {
    position: absolute;
    background: #f1164e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8rem 2rem;
    border-radius: 25px;
    top: 0.8rem;
    right: 1rem;
}

.teacher .section-content .hire {
    margin-top: 2rem;
    position: relative;
    padding: 0 1rem;
}

.teacher .section-content .hire img {
    width: 100%;
    height: 450px;
    box-shadow: 10px -10px 17px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.teacher .section-content .hire .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    background: #202c45;
}

.teacher .section-content .hire .centered h4 {
    padding: 1rem;
}

.teacher .section-content .hire .centered h4 b {
    color: #fff;
    text-transform: capitalize;
    line-height: 2rem;
}

.teacher .section-content .hire .centered h4 a {
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 2rem;
    float: right;
    background: #f1164e;
    text-transform: uppercase;
    border-radius: 25px;
}

.teacher .section-content .card img {
    width: 100%;
    height: 200px;
    max-height: 200px;
}

.teacher .section-content .card {
    position: relative;
}

.teacher .section-content .card .centered {
    position: absolute;
    top: 0;
    left: 50%;
}

.teacher .section-content article {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.teacher .section-content .entry-content {
    background: #fff;
    height: 200px;
}

.teacher .section-content .entry-content h4 {
    color: #202c45;
    font-weight: bold;
}

.teacher .section-content .entry-content p {
    font-weight: 600;
}

.teacher .section-content .entry-content a {
    display: block;
    text-align: center;
    background: #202c45;
    color: #fff;
    float: right;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 25px;
}

.teacher .section-content .card .centered h4 {
    text-transform: uppercase;
    font-weight: 500;
    background: #fff;
    border-radius: 25px;
    color: #895559;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.teacher .row.title {
    padding: 0;
    margin-bottom: 0;
    display: flex;
}

.teacher .row.title .details {
    text-align: center;
    float: right;
    width: 40%;
    margin-left: 4rem;
    margin-top: 2rem;
}

.teacher #pointer {
    width: 50%;
    height: 150px;
    position: relative;
    background: #cbccd0;
}

.teacher #pointer img:first-child {
    position: absolute;
    display: inline-block;
    top: 2rem;
    left: 4rem;
}

.teacher #pointer img:last-child {
    position: absolute;
    display: inline-block;
    top: 2rem;
    left: 25rem;
}

.teacher #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

.teacher #pointer:before {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid #cbccd0;
    border-top: 75px solid transparent;
    border-bottom: 76px solid transparent;
}

.teacher .row.title span {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 35px;
    width: 70%;
    left: 0px;
    text-align: center;
    transform: rotate(-360deg);
    display: block;
}

.teacher .row.title span b {
    display: inline-block;
}

.teacher .row.title span b:first-child {
    color: #1e2c46;
    border-bottom: 1px solid #cd2755;
}

.teacher .row.title span b:last-child {
    color: #cd2755;
    margin-left: 0.5rem;
}

.teacher {
    padding: 0rem 0;
    background: #ededed;
}

.teacher .row.lDvr {
    padding: 4rem 6rem;
    background: #fff;
    margin: auto;
}

.teacher .row.lDvr i {
    color: #767676;
    font-size: 1.5rem;
}

.teacher .row.lDvr .item {
    display: inline-block;
    padding: 0 2rem;
}

.teacher .row.lDvr .item a {
    display: block;
}

.teacher .row.lDvr .item a img {
    width: 150px;
    height: 100px;
    max-height: 100px;
}


/* Parents */

#parents .section-content .hire {}

#parents .section-content .hire {
    margin-top: 2rem;
    position: relative;
    padding: 0 1rem
}

#parents .section-content .hire img {
    width: 100%;
    height: 450px;
    box-shadow: 10px -10px 17px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

#parents .section-content .hire .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    background: #202c45;
}

#parents .section-content .hire .centered h4 {
    padding: 1rem;
}

#parents .section-content .hire .centered h4 b {
    color: #fff;
    text-transform: capitalize;
    line-height: 2rem;
}

#parents .section-content .hire .centered h4 a {
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 2rem;
    float: right;
    background: #f1164e;
    text-transform: uppercase;
    border-radius: 25px;
}

#parents .section-content .card img {
    width: 100%;
    height: 200px;
    max-height: 200px;
}

#parents .section-content .card {
    position: relative;
}

#parents .section-content .card .centered {
    position: absolute;
    top: 0;
    left: 50%;
}

#parents .section-content article {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#parents .section-content .entry-content {
    background: #fff;
    height: 200px;
}

#parents .section-content .entry-content h4 {
    color: #202c45;
    font-weight: bold;
}

#parents .section-content .entry-content p {
    font-weight: 600;
}

#parents .section-content .entry-content a {
    display: block;
    text-align: center;
    background: #202c45;
    color: #fff;
    float: right;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 25px;
}

#parents .section-content .card .centered h4 {
    text-transform: uppercase;
    font-weight: 500;
    background: #fff;
    border-radius: 25px;
    color: #895559;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

#parents .quest {
    margin-top: 2rem;
    position: relative;
}

#parents .quest img {
    width: 90%;
    box-shadow: -57px 20px 30px -15px #111;
}

#parents .quest .centered {
    position: absolute;
    top: 65%;
    left: 56%;
    transform: translate(-50%, -50%);
}

#parents .quest .centered h4 {
    color: #fff;
}

#parents .quest .centered h4 b:first-child {
    text-transform: capitalize;
    display: block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#parents .row.title {
    padding: 0;
    margin-bottom: 0;
    display: flex;
}

#parents .row.title .details {
    text-align: center;
    float: right;
    width: 40%;
    margin-left: 4rem;
    margin-top: 2rem;
}

#pointer {
    width: 50%;
    height: 150px;
    position: relative;
    background: #cbccd0;
}

#pointer img:first-child {
    position: absolute;
    display: inline-block;
    top: 2rem;
    left: 4rem;
}

#pointer img:last-child {
    position: absolute;
    display: inline-block;
    top: 2rem;
    left: 25rem;
}

#pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

#pointer:before {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid #cbccd0;
    border-top: 75px solid transparent;
    border-bottom: 76px solid transparent;
}

#parents .row.title span {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 35px;
    width: 70%;
    left: 0px;
    text-align: center;
    transform: rotate(-360deg);
    display: block;
}

#parents .row.title span b {
    display: inline-block;
}

#parents .row.title span b:first-child {
    color: #1e2c46;
    border-bottom: 1px solid #cd2755;
}

#parents .row.title span b:last-child {
    color: #cd2755;
    margin-left: 0.5rem;
}

#parents {
    padding: 0rem 0;
    background: #ededed;
}

#parents .row.lDvr {
    padding: 4rem 6rem;
    background: #fff;
    margin: auto;
}

#parents .row.lDvr i {
    color: #767676;
    font-size: 1.5rem;
}

#parents .row.lDvr .item {
    display: inline-block;
    padding: 0 2rem;
}

#parents .row.lDvr .item a {
    display: block;
}

#parents .row.lDvr .item a img {
    width: 150px;
    height: 100px;
    max-height: 100px;
}


/* Divider */

#divider {
    border-bottom: 5px solid #cd2755;
    border-top: 5px solid #cd2755;
}

#divider .funfact i {
    font-size: 45px;
}

#divider .funfact h2 {
    position: relative;
}

#divider .mt-0 {
    margin-top: 0;
}

#divider .font-38 {
    font-size: 2.71428571rem;
}

#divider .font-weight-500 {
    font-weight: 500;
}

#divider .text-white {
    color: #fff;
}


/* Quick Links */

#news .row.title {
    margin-bottom: 4rem;
}

#news .row.title span {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

#news .row.title span i {
    color: #cd2755;
    margin: 0 1rem;
}

#news .row.title span.br {
    color: #1e2c46;
    border-bottom: 1px solid #cd2755;
}

#news .row.title span.nbr {
    color: #cd2755;
    margin-left: 0.5rem;
}

#news .card a {
    display: block;
    border-radius: 25px;
    background: inherit;
    box-shadow: 10px -10px 17px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 1);
}

#news .card a:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#news .card a img {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

#news .card a span {
    padding: 0 1rem;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
}